{% extends "layout/_base.html" %}

{% block body %}
    <div class="container">
        <h1>Activities</h1>
        <hr>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap">
                                        <img src="http://placehold.it/350x250" alt="" class="img-responsive">
                                    </div>
                                    <div class="description">
                                        <p class="clearfix">
                                            <small class="details pull-left"><i class="fa fa-calendar"></i> May 02, 2016</small>
                                            <small class="details pull-right"><i class="fa fa-clock-o"></i> 1:00pm - 5:00pm</small>
                                        </p>
                                        <h4>Project Name</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus saepe doloremque nobis veritatis, eum iusto quas nemo hic harum temporibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap">
                                        <img src="http://placehold.it/350x250" alt="" class="img-responsive">
                                    </div>
                                    <div class="description">
                                        <p class="clearfix">
                                            <small class="details pull-left"><i class="fa fa-calendar"></i> May 02, 2016</small>
                                            <small class="details pull-right"><i class="fa fa-clock-o"></i> 1:00pm - 5:00pm</small>
                                        </p>
                                        <h4>Project Name</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus saepe doloremque nobis veritatis, eum iusto quas nemo hic harum temporibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap">
                                        <img src="http://placehold.it/350x250" alt="" class="img-responsive">
                                    </div>
                                    <div class="description">
                                        <p class="clearfix">
                                            <small class="details pull-left"><i class="fa fa-calendar"></i> May 02, 2016</small>
                                            <small class="details pull-right"><i class="fa fa-clock-o"></i> 1:00pm - 5:00pm</small>
                                        </p>
                                        <h4>Project Name</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus saepe doloremque nobis veritatis, eum iusto quas nemo hic harum temporibus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Interest Groups</h1>
        <hr>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                    <h4>Badminton</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                    <h4>Basketball</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                    <h4>Ladies who Lunch</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                    <h4>Running</h4>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                    <h4></h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="interest-group-container">
                                    <img src="http://placehold.it/200" alt="" class="img-circle img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
