{% extends "layout/_base.html" %}

{% block body %}
    <div class="container">
        <h1>Activities</h1>
        <hr>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap">
                                        <img src="http://placehold.it/250" alt="">
                                    </div>
                                    <div class="description">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap"></div>
                                    <div class="description"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap"></div>
                                    <div class="description"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
