{% extends "layout/_base.html" %}

{% block body %}
    <div class="container">
        <h1>Activities</h1>
        <hr>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap">
                                        <img src="{{ url_for('static', filename='images/thumbs1.jpg') }}" data-fullimage="{{ url_for('static', filename='images/activity1.jpg') }}" alt="" class="img-responsive">
                                    </div>
                                    <div class="description">
                                        <small><i class="fa fa-map-o"></i> SM Mall of Asia</small>
                                        <h4>NatGeo Run 2017</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus saepe doloremque nobis veritatis, eum iusto quas nemo hic harum temporibus.</p>
                                        <p class="clearfix">
                                            <small class="details pull-left"><i class="fa fa-calendar"></i> April 23, 2017</small>
                                            <small class="details pull-right"><i class="fa fa-clock-o"></i> 1:00pm - 5:00pm</small>
                                        </p>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-block btn-default">More Info</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap">
                                        <img src="{{ url_for('static', filename='images/thumbs2.jpg') }}" data-fullimage="{{ url_for('static', filename='images/coffee-full.jpeg') }}" alt="" class="img-responsive">
                                    </div>
                                    <div class="description">
                                        <small><i class="fa fa-map-o"></i> 14F UnionBank Plaza</small>
                                        <h4>Coffee Brewing 101</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus saepe doloremque nobis veritatis, eum iusto quas nemo hic harum temporibus.</p>
                                        <p class="clearfix">
                                            <small class="details pull-left"><i class="fa fa-calendar"></i> June 27, 2017</small>
                                            <small class="details pull-right"><i class="fa fa-clock-o"></i> 6:00pm - 8:00pm</small>
                                        </p>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-block btn-default">More Info</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="activity-box">
                                    <div class="img-wrap">
                                        <img src="{{ url_for('static', filename='images/thumbs3.jpg') }}" data-fullimage="{{ url_for('static', filename='images/coron.jpg') }}" alt="" class="img-responsive">
                                    </div>
                                    <div class="description">
                                        <small><i class="fa fa-map-o"></i> Coron Bay, Palawan</small>
                                        <h4>Advanced Scuba Diving</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus saepe doloremque nobis veritatis, eum iusto quas nemo hic harum temporibus.</p>
                                        <p class="clearfix">
                                            <small class="details pull-left"><i class="fa fa-calendar"></i> July 22, 2017</small>
                                            <small class="details pull-right"><i class="fa fa-clock-o"></i> 10:00am - 3:00pm</small>
                                        </p>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-block btn-default">More Info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Interest Groups</h1>
        <hr>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-xs-6 col-md-offset-1">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/badminton.jpg') }}" alt="" class="img-circle img-responsive">
                                    <h4>Badminton</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/basketball.png') }}" alt="" class="img-circle img-responsive">
                                    <h4>Basketball</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/lunch.jpg') }}" alt="" class="img-circle img-responsive">
                                    <h4>Ladies who Lunch</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/running.png') }}" alt="" class="img-circle img-responsive">
                                    <h4>Hermes</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6 col-xs-offset-3 col-md-offset-0">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/coffee.jpg') }}" alt="" class="img-circle img-responsive">
                                    <h4>Coffee Hipsters</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-6 col-md-offset-1">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/scuba.jpg') }}" alt="" class="img-circle img-responsive">
                                    <h4>Scuba Diving</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/photography.jpg') }}" alt="" class="img-circle img-responsive">
                                    <h4>Photography</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/tennis.png') }}" alt="" class="img-circle img-responsive">
                                    <h4>Tennis</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/game.jpg') }}" alt="" class="img-circle img-responsive">
                                    <h4>Online Gaming</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6 col-xs-offset-3 col-md-offset-0">
                                <div class="interest-group-container">
                                    <img src="{{ url_for('static', filename='images/fitness.png') }}" alt="" class="img-circle img-responsive">
                                    <h4>Shopping</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="activities-modal" tabindex="-1" role="dialog" aria-labelledby="activities-modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="activity-modal-title">NatGeo Run 2017</h4>
                </div>
                <img id="activity-image" src="{{ url_for('static', filename='images/activity1.jpg') }}" alt="" class="img-responsive">
                <div class="modal-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <p><i class="fa fa-star"></i> 28 Interested</p>
                        </div>
                        <div class="pull-right">
                            <p><i class="fa fa-users"></i> 256 Joined</p>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ex asperiores voluptatum tempora distinctio, quo laborum doloremque in cupiditate nesciunt assumenda, impedit quasi enim alias similique expedita eum quos nihil!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nemo natus, sint explicabo, doloremque nulla?</p>
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Details</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Activity 1 Schedule</td>
                                <td>Activity description</td>
                                <td>01:00pm - 02:20pm</td>
                            </tr>
                            <tr>
                                <td>Activity 2 Schedule</td>
                                <td>Activity description</td>
                                <td>03:00pm - 04:20pm</td>
                            </tr>
                            <tr>
                                <td>Activity 3 Schedule</td>
                                <td>Activity description</td>
                                <td>05:00pm - 06:20pm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="interest-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="interest-group-name"></h4>
                </div>
                <div class="ig-name-container">
                    <div>
                        <img src="{{ url_for('static', filename='images/scuba.jpg') }}" alt="" id="ig-logo" class="img-thumbnail img-circle">
                        <h1 id="ig-name">Name</h1>
                        <small><i class="fa fa-users"></i> 82 &middot; <i class="fa fa-calendar"></i> 23</small>
                    </div>
                </div>
                <div class="modal-body">
                    <h3>Details</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti necessitatibus itaque placeat illum libero amet quibusdam porro, velit in illo.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, dolores. Consectetur perspiciatis maxime libero earum!</p>
                    <br>
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a></li>
                            <li role="presentation"><a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="members">
                                <br>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                            <div class="col-sm-2 col-xs-4"><img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="img-responsive"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="activities">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Details</th>
                                            <th>Date/Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Activity Name</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>1:00pm - 2:00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Activity Name</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>3:00pm - 4:00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Activity Name</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>5:00pm - 6:00pm</td>
                                        </tr>
                                        <tr>
                                            <td>Activity Name</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>7:00pm - 8:00pm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('bower.static', filename='trianglify/dist/trianglify.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            $('.interest-group-container').on('click', function() {
                var pattern = Trianglify({
                    height: 300,
                    width: 600,
                    cell_size: 40,
                    x_colors: 'random'
                });

                $('.ig-name-container').css('background-image', 'url('+pattern.png()+')');

                // Get details of interest group
                var img_src = $(this).find('img').attr('src');
                var ig_name = $(this).find('h4').html();

                // Set grabbed details to modal
                $('#ig-logo').prop('src', img_src);
                $('#ig-name').html(ig_name);

                $('#interest-group-modal').modal('show');
            });

            $('.footer button').on('click', function() {
                var $activityBox = $(this).parent().parent();
                var event_name = $activityBox.find('.description h4').html();
                var event_img = $activityBox.find('.img-wrap img').data('fullimage');
                console.log(event_name);
                console.log(event_img);
                console.log($(this).parent())
                $('#activity-modal-title').html(event_name);
                $('#activity-image').prop('src', event_img);

                $('#activities-modal').modal('show');
            });

        });
    </script>
{% endblock %}
